//COLORS
$primary-color: #C73A0F;
$secondary-color: #C6B315;
$tertiary-color: #868512;

//FONT SIZE
$p-font-size:  14px;
$h3-font-size: $p-font-size*4/3;
$h2-font-size: $h3-font-size*4/3;
$h1-font-size: $h2-font-size*4/3;


//OPTIONAL FILES
$use-slider:      true;
$use-carousssel:  true;
